:root {
  --white: #ffffff;

  --bg: #171616;

  --text-1: #262626;
  --text-2: #2E3138;
  --text-3: #a7aab2;


  --bgBtn: #497fce;
  --hoverBtn: #398aff;

  --navBg: #ff313f;
  --navBorder: #e62c39;
  --navBtnHover: #cbcbcb;

  --rotateBg: #232e37;

  --sideBarBg: rgba(11, 8, 23, 0.9);

  --footerBg: #182027;
}

// :root.light-mode {}
